To guarantee victory, Arya must not only maximize her score but also minimize Mario's opportunities to secure higher-value scores. Choosing an immediate, tempting gain might cost her a more valuable score later. Thus, she must anticipate the possible scenarios she may face. In other words, to determine whether Arya’s victory is guaranteed, we need to compare the maximum score she can achieve with Mario’s maximum score, assuming both play optimally.
Specifically, the maximum score Arya can achieve by taking a number from either the beginning or the end of the array is calculated as the maximum between the score obtained by:
Choosing the number at the beginning plus the total sum of the array minus the optimal score Mario can achieve from the remaining numbers, and
Choosing the number at the end plus the total sum of the array minus the optimal score Mario can achieve from the remaining numbers.
The optimal gain for any subarray nums[i:j] can be expressed as:

optimal_gain = max(nums[i] + sum(nums[i:j]) - optimal_score_in_remaining_numbers,nums[j] + sum(nums[i:j]) - optimal_score_in_remaining_numbers)

After defining how to compute the optimal_gain, we can simulate all possible situations during the game based on the choices of taking numbers from either the beginning or the end of the array.  The maximum value of the optimal_gain among all subarrays represents the highest score Arya can achieve by playing optimally.

<Strong>Function</Strong> max_score_1(nums, i, j):<br>
    <Strong>Input:</Strong> nums: list of numbers, i, j: initial and ending indexes of the subarray<br>
    <Strong>Output:</Strong> Maximum score Arya can achieve in the subarray<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>if</Strong> i is equal to j <Strong>then</Strong>:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<Strong>return</Strong> nums[i]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>end if</Strong><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;array_sum &larr; sum of nums[i:j+1]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;take_start &larr; nums[i] + (array_sum - max_score_1(nums, i+1, j))<br>
    &nbsp;&nbsp;&nbsp;&nbsp;take_end &larr; nums[j] + (array_sum - max_score_1(nums, i, j-1))<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;result &larr; max(take_start, take_end)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>return</Strong> result<br><br>
    <Strong>end</Strong><br><br>

<Strong>Function</Strong> predict_victory_1(nums):<br>
    <Strong>Input:</Strong> nums: list of integers<br>
    <Strong>Output:</Strong> Boolean indicating whether Arya can guarantee a win or not<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;n &larr; length of nums<br>
    &nbsp;&nbsp;&nbsp;&nbsp;arya_score &larr; max_score_1(nums, 0, n-1)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;total_score &larr; sum of nums<br>
    &nbsp;&nbsp;&nbsp;&nbsp;mario_score &larr; total_score - arya_score<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>return</Strong> arya_score is greater than or equal to mario_score<br><br>
    <Strong>end</Strong><br><br>

<Strong>Algorithm</Strong> main():<br>
    <Strong>Output:</Strong> Prints whether Arya can guarantee a win or not<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;nums &larr; [sequence of numbers]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;result &larr; predict_victory_1(nums)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Print result<br>
    <Strong>end</Strong>

In [23]:
import random
def max_score_1(nums, i, j):
    #If the subarray has only one number
    if i == j:
        return nums[i]
    #Sum of the subarray nums[i:j+1]
    array_sum = sum(nums[i:j+1])
    #Arya has two choices
    take_start = nums[i] +(array_sum-max_score_1(nums,i+1,j))
    take_end = nums[j] +(array_sum-max_score_1(nums,i,j-1))
    #Maximum score between two choices
    result = max(take_start, take_end)
    return result

def predict_victory_1(nums):
    n =len(nums)
    arya_score =max_score_1(nums, 0,n-1)
    total_score =sum(nums)
    mario_score =total_score-arya_score
    return arya_score >mario_score or(arya_score == mario_score)

array = [[31, 5, 233, 7,423,234,1,321,2,1,3,3,1,31,1],
         [1, 5, 2,3,42,41,1,11,1],
         [11, 5, 233, 27,423,234,1,321,2,77,543,423,52,55,53,1,1,31],
         [1, 5, 233, 7,43,234,1,321,2,1,3,3,1,43,21312,5,312,1,10],
         [random.randint(1, 50) for _ in range(15)],
         [random.randint(1, 50) for _ in range(20)],
         [random.randint(1, 50) for _ in range(25)]]
for item in array:
    arya_result= predict_victory_1(item)
    print(arya_result)

False
False
True
False
True
True
False

The most computationally expensive operation in the `predict_victory_1` algorithm lies in the `max_score_1` function. This function is recursive and makes two calls for each invocation, corresponding to the two possible choices Arya can make: selecting the number at the beginning or the end of the array. <br>
Each recursive call reduces the problem size by 1 (i.e., from size `n` to `n-1`), and it leads to a time complexity of approximately  $O(2^n) $.<br>
Additionally, the algorithm includes some `sum` operations which, in the most computationally expensive case, have a time complexity of $O(n)$. However, these operations are less dominant compared to the recursive function `max_score_1`. All other operations within the algorithm have constant complexity and therefore do not affect the overall asymptotic complexity.<br>
In conclusion, the algorithm has an overall time complexity of $O(2^n) $, which is exponential. Such complexity makes the algorithm inefficient for large inputs.

Each time the algorithm computes the optimal gain of a subarray, all necessary calculations are performed. However, there may be a significant amount of repetitive computation. For instance, in the array [1, 3, 5, 2, 3, 1], the subarray [5, 2] may need to be computed multiple times based on how the two players choose their numbers. This characteristic significantly slows down the performance of the algorithm.
Fortunately, this inefficiency can be addressed using dynamic programming. By storing the result of each computation in a memoization dictionary, subsequent requests for the same computation can be retrieved in 
$O(1)$ time. This approach drastically accelerates the execution of the algorithm. The pseudocode for the updated algorithm is as follows:<br><br>
<Strong>Function</Strong> max_score_2(nums, i, j, memo):<br>
    <Strong>Input:</Strong> nums: list of numbers, i, j: initial and ending indexes of the subarray, memo: dictionary for memoization<br>
    <Strong>Output:</Strong> Maximum score Arya can achieve in the subarray<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>if</Strong> i is equal to j <Strong>then</Strong>:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<Strong>return</Strong> nums[i]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>end if</Strong><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>if</Strong> (i, j) exists in memo <Strong>then</Strong>:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<Strong>return</Strong> memo[(i, j)]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>end if</Strong><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;array_sum &larr; sum of nums[i:j+1]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;take_start &larr; nums[i] + (array_sum - max_score_2(nums, i+1, j, memo))<br>
    &nbsp;&nbsp;&nbsp;&nbsp;take_end &larr; nums[j] + (array_sum - max_score_2(nums, i, j-1, memo))<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;result &larr; max(take_start, take_end)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;memo[(i, j)] &larr; result<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>return</Strong> result<br><br>
    <Strong>end</Strong><br><br>

<Strong>Function</Strong> predict_victory_2(nums):<br>
    <Strong>Input:</Strong> nums: list of integers<br>
    <Strong>Output:</Strong> Boolean indicating whether Arya can guarantee a win or not<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;n &larr; length of nums<br>
    &nbsp;&nbsp;&nbsp;&nbsp;memo &larr; {}<br>
    &nbsp;&nbsp;&nbsp;&nbsp;arya_score &larr; max_score_2(nums, 0, n-1, memo)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;total_score &larr; sum of nums<br>
    &nbsp;&nbsp;&nbsp;&nbsp;mario_score &larr; total_score - arya_score<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>return</Strong> arya_score is greater than or equal to mario_score<br><br>
    <Strong>end</Strong><br><br>

<Strong>Algorithm</Strong> main():<br>
    <Strong>Output:</Strong> Prints whether Arya can guarantee a win or not<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;nums &larr; [sequence of numbers]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;result &larr; predict_victory_2(nums)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Print result<br>
    <Strong>end</Strong>


The updated algorithm provides a polynomial time complexity, as it avoids computing repetitive subarrays multiple times. Instead, each subarray is computed exactly once by using a memoization dictionary. The total number of unique subarrays is $\frac{n(n+1)}{2}$​, which can be generalized to $O(n^2)$, making the algorithm polynomial in time complexity.

In [24]:
import random
def max_score_2(nums, i, j, memo):
    #If the subarray has only one number
    if i == j:
        return nums[i]
    #If the subarray is already computed, return its value
    if (i, j) in memo:
        return memo[(i, j)]
    #Sum of the subarray nums[i:j+1]
    array_sum = sum(nums[i:j+1])
    #Arya has two choices
    take_start = nums[i] +(array_sum-max_score_2(nums,i+1, j,memo))
    take_end = nums[j] +(array_sum-max_score_2(nums, i,j-1,memo))
    #Maximum score between two choices
    result = max(take_start, take_end)
    #Save the result in memoization dictionary
    memo[(i, j)] = result
    return result

def predict_victory_2(nums):
    n = len(nums)
    memo = {}
    arya_score =max_score_2(nums, 0,n-1,memo)
    total_score =sum(nums)
    mario_score =total_score-arya_score
    return arya_score > mario_score or (arya_score == mario_score)

array = [[31, 5, 233, 7,423,234,1,321,2,1,3,3,1,31,1],
         [1, 5, 2,3,42,41,1,11,1],
         [11, 5, 233, 27,423,234,1,321,2,77,543,423,52,55,53,1,1,31],
         [1, 5, 233, 7,43,234,1,321,2,1,3,3,1,43,21312,5,312,1,10],
         [random.randint(1, 50) for _ in range(15)],
         [random.randint(1, 50) for _ in range(20)],
         [random.randint(1, 50) for _ in range(25)]]
for item in array:
    arya_result= predict_victory_2(item)
    print(arya_result)

False
False
True
False
True
True
False

In [28]:
import time

array = [[1, 5, 233, 7],
         [1, 5, 2,3,42,41,1,11,1],
         [11, 5, 233, 27,423,234,1,321,2,77,543,423,52,55,53,1,1,31],
         [1, 5, 233, 7,43,234,1,321,2,1,3,3,1,43,21312,5,312,1,10],
         [1, 15, 2323, 7,43,234,1,521,2,1,3,3,3,43,212,5,12],
         [1,12,12,123,1,4,5432,5645,6,523,423,423,251,4,124,12,4,12,5,47,65,98,76,8,5,3235,2]]

start_time_ndp = time.time()
print("Start running the algorithm without dynamic programming")
for item in array:

    arya_result= predict_victory_1(item)
    print(arya_result)

end_time_ndp = time.time()
print("End")
execution_time_ndp = end_time_ndp -start_time_ndp

start_time_dp = time.time()
print("Start running the algorithm with dynamic programming")
for item in array:

    arya_result= predict_victory_2(item)
    print(arya_result)

end_time_dp = time.time()
print("End")
execution_time_dp = end_time_dp -start_time_dp

print(f"Running time for the algorithm without dynamic programming: {execution_time_ndp} seconds")
print(f"Running time for the algorithm with dynamic programming: {execution_time_dp} seconds")

Start running the algorithm without dynamic programming
True
False
True
False
False
False
End
Start running the algorithm with dynamic programming
True
False
True
False
False
False
End
Running time for the algorithm without dynamic programming: 23.212987184524536 seconds
Running time for the algorithm with dynamic programming: 0.0005366802215576172 seconds

As demonstrated by the previous test, both algorithms are able to correctly predict the result of the game, assuming both players play optimally. However, there is one aspect in which the two algorithms differ significantly: their running time. Specifically, the algorithm with dynamic programming is significantly faster than the one without dynamic programming, due to its ability to compute each subarray only once.

We posed the following question to ChatGPT:<br><br>
Hello ChatGPT, I have an algorithm called predict_victory_1, which does not use dynamic programming.

#### Pseudocode of the algorithm predict_victory_1 ####

I also have a second algorithm, predict_victory_2, which uses dynamic programming and runs significantly faster.

#### Pseudocode of the algorithm predict_victory_2 ####

Can you craft a third, optimized implementation and analyze its time complexity?<br><br>
here is its answer<br><br><br>
# Optimized Implementation: `predict_victory_3`

### Algorithm Explanation
1. Use a 2D table `dp` such that `dp[i][j]` represents the maximum score Arya can achieve for the subarray `nums[i:j+1]`.
2. **Base Case**: When `i == j`, `dp[i][i] = nums[i]` (Arya can only take one element).
3. **Transition**: To calculate `dp[i][j]` for `i < j`:
   - If Arya takes the first element `nums[i]`, her score is `nums[i] + (sum(nums[i:j+1]) - dp[i+1][j])`.
   - If Arya takes the last element `nums[j]`, her score is `nums[j] + (sum(nums[i:j+1]) - dp[i][j-1])`.
   - `dp[i][j] = max(take_start, take_end)`.
4. To save on repeatedly calculating the sum of `nums[i:j+1]`, maintain a **prefix sum** array.
5. Compute `dp[i][j]` iteratively for increasing lengths of subarrays.
6. Finally, compare Arya's maximum score (`dp[0][n-1]`) with Mario's score to determine the winner.

---

### Code Implementation

```python
def predict_victory_3(nums):
    n = len(nums)
    # Prefix sum array for fast range sum computation
    prefix_sum = [0] * (n + 1)
    for i in range(n):
        prefix_sum[i + 1] = prefix_sum[i] + nums[i]
    
    # Helper to calculate sum of nums[i:j+1]
    def range_sum(i, j):
        return prefix_sum[j + 1] - prefix_sum[i]
    
    # DP table initialization
    dp = [[0] * n for _ in range(n)]
    
    # Base case: subarray of length 1
    for i in range(n):
        dp[i][i] = nums[i]
    
    # Fill DP table for increasing lengths of subarrays
    for length in range(2, n + 1):  # length of the subarray
        for i in range(n - length + 1):
            j = i + length - 1
            take_start = nums[i] + (range_sum(i, j) - dp[i + 1][j])
            take_end = nums[j] + (range_sum(i, j) - dp[i][j - 1])
            dp[i][j] = max(take_start, take_end)
    
    # Arya's maximum score
    arya_score = dp[0][n - 1]
    total_score = range_sum(0, n - 1)
    mario_score = total_score - arya_score
    
    return arya_score >= mario_score

### Time Complexity Analysis

#### 1. Prefix Sum Calculation
- Building the prefix sum array requires iterating through the input array `nums` once.
- **Time Complexity**: $O(n)$.

#### 2. Filling the DP Table
- The DP table has $n \times n$ entries.
- For each entry `dp[i][j]`, the computation involves:
  - Using the prefix sum array to compute $\text{range\_sum}(i, j)$ in $O(1)$.
  - Calculating the two potential scores: `take_start` and `take_end`.
  - Taking the maximum of the two scores.
- **Outer Loop**: Iterates over the subarray lengths from $2$ to $n$, i.e., $O(n)$.
- **Inner Loop**: Iterates over starting indices for each subarray length, i.e., up to $O(n)$.
- Each cell computation takes $O(1)$.

**Overall Complexity for Filling the DP Table**:  
$O(n^2)$ (outer loop and inner loop combined).

#### 3. Total Time Complexity
- Prefix sum computation: $O(n)$.
- DP table computation: $O(n^2)$.

**Final Time Complexity**:  
$O(n^2)$.

---

### Space Complexity
1. **DP Table**: A 2D table of size $n \times n$ is required.
   - **Space Complexity**: $O(n^2)$.
2. **Prefix Sum Array**: An additional array of size $n + 1$ for prefix sums.
   - **Space Complexity**: $O(n)$.

**Total Space Complexity**:  
$O(n^2)$.

---

### Comparison Table

| **Algorithm**          | **Time Complexity** | **Space Complexity** | **Notes**                                    |
|-------------------------|---------------------|-----------------------|----------------------------------------------|
| `predict_victory_1`     | $O(2^n)$           | $O(n)$               | Exponential recursion without memoization.   |
| `predict_victory_2`     | $O(n^2)$           | $O(n^2)$             | Optimized with top-down memoization.         |
| `predict_victory_3`     | $O(n^2)$           | $O(n^2)$             | Further optimized with bottom-up DP.         |

The **bottom-up DP approach** (`predict_victory_3`) avoids recursive overhead and provides faster execution in practice while maintaining the same theoretical complexity as `predict_victory_2`.

ChatGPT provided a comprehensive response, including an explanation of the algorithm, its implementation, and a detailed complexity breakdown. As stated, the `predict_victory_3` function is expected to improve the algorithm's performance by adopting a bottom-up DP approach and replacing the direct use of the sum function with a prefix sum array. However, the time complexity remains the same. To verify the validity of this claim, we can compare its performance against `predict_victory_2` through testing.

Defining the function predict_victory_3

In [31]:
def predict_victory_3(nums):
    n = len(nums)
    # Prefix sum array for fast range sum computation
    prefix_sum = [0] * (n + 1)
    for i in range(n):
        prefix_sum[i + 1] = prefix_sum[i] + nums[i]
    
    # Helper to calculate sum of nums[i:j+1]
    def range_sum(i, j):
        return prefix_sum[j + 1] - prefix_sum[i]
    
    # DP table initialization
    dp = [[0] * n for _ in range(n)]
    
    # Base case: subarray of length 1
    for i in range(n):
        dp[i][i] = nums[i]
    
    # Fill DP table for increasing lengths of subarrays
    for length in range(2, n + 1):  # length of the subarray
        for i in range(n - length + 1):
            j = i + length - 1
            take_start = nums[i] + (range_sum(i, j) - dp[i + 1][j])
            take_end = nums[j] + (range_sum(i, j) - dp[i][j - 1])
            dp[i][j] = max(take_start, take_end)
    
    # Arya's maximum score
    arya_score = dp[0][n - 1]
    total_score = range_sum(0, n - 1)
    mario_score = total_score - arya_score
    
    return arya_score >= mario_score

Start testing

In [40]:
import time

array = [[1, 5, 233, 7],
         [1, 5, 2,3,42,41,1,11,1],
         [11, 5, 233, 27,423,234,1,321,2,77,543,423,52,55,53,1,1,31],
         [random.randint(1, 150) for _ in range(25)],
         [random.randint(1, 150) for _ in range(250)],
         [random.randint(1, 150) for _ in range(500)],
         [random.randint(1, 150) for _ in range(750)],
         [random.randint(1, 150) for _ in range(1000)],
         [random.randint(1, 150) for _ in range(2500)]]

for item in array:
    print(item)

start_time_pv2 = time.time()
print("Start running the algorithm predict_victory_2")
for item in array:

    arya_result= predict_victory_2(item)
    print(arya_result)

end_time_pv2 = time.time()
print("End")
execution_time_pv2 = end_time_pv2 -start_time_pv2

start_time_pv3 = time.time()
print("Start running the algorithm predict_victory_3")
for item in array:

    arya_result= predict_victory_3(item)
    print(arya_result)

end_time_pv3 = time.time()
print("End")
execution_time_pv3 = end_time_pv3 -start_time_pv3

print(f"Running time for the algorithm predict_victory_2: {execution_time_pv2} seconds")
print(f"Running time for the algorithm predict_victory_3: {execution_time_pv3} seconds")

[1, 5, 233, 7]
[1, 5, 2, 3, 42, 41, 1, 11, 1]
[11, 5, 233, 27, 423, 234, 1, 321, 2, 77, 543, 423, 52, 55, 53, 1, 1, 31]
[54, 112, 138, 93, 49, 143, 103, 18, 149, 100, 94, 62, 62, 141, 65, 54, 113, 87, 112, 142, 149, 3, 54, 64, 103]
[64, 125, 8, 22, 121, 37, 82, 26, 6, 116, 126, 7, 44, 133, 22, 89, 56, 36, 3, 105, 135, 82, 10, 130, 84, 59, 60, 87, 33, 49, 55, 128, 79, 78, 77, 124, 29, 121, 50, 17, 26, 134, 93, 72, 35, 113, 23, 106, 137, 149, 4, 119, 62, 150, 74, 41, 115, 130, 82, 87, 40, 3, 52, 136, 93, 69, 90, 125, 82, 132, 95, 68, 33, 79, 95, 141, 115, 58, 2, 96, 50, 51, 21, 7, 117, 112, 130, 22, 145, 33, 99, 108, 89, 3, 23, 95, 133, 61, 107, 128, 16, 146, 13, 89, 58, 64, 39, 59, 144, 116, 142, 111, 148, 14, 48, 61, 130, 86, 20, 48, 115, 75, 105, 123, 92, 146, 109, 79, 112, 48, 105, 103, 29, 95, 99, 17, 22, 25, 123, 76, 71, 43, 140, 46, 109, 51, 56, 20, 82, 43, 19, 46, 90, 117, 6, 29, 87, 45, 123, 45, 32, 136, 41, 110, 97, 139, 10, 89, 109, 45, 1, 65, 85, 133, 85, 80, 51, 67, 104, 90, 53, 5, 99, 97, 46, 20, 14, 119, 113, 150, 135, 81, 28, 3, 93, 142, 32, 73, 76, 8, 33, 124, 102, 120, 80, 82, 18, 48, 8, 25, 36, 85, 25, 149, 137, 142, 29, 147, 117, 50, 130, 72, 88, 99, 126, 61, 120, 33, 81, 26, 59, 140, 3, 7, 65, 30, 21, 130, 35, 98, 8, 69, 125, 118, 145, 79, 121, 10, 59, 79]
[29, 15, 68, 112, 89, 102, 105, 63, 84, 125, 14, 112, 84, 137, 60, 140, 83, 118, 113, 14, 56, 7, 89, 4, 28, 17, 87, 83, 71, 73, 64, 53, 4, 68, 45, 101, 142, 128, 123, 11, 101, 65, 21, 127, 77, 113, 32, 90, 7, 78, 33, 19, 102, 23, 32, 29, 137, 127, 61, 6, 126, 128, 28, 32, 34, 60, 60, 142, 56, 42, 142, 139, 95, 114, 120, 37, 113, 78, 4, 67, 19, 67, 122, 9, 26, 29, 20, 7, 110, 48, 72, 113, 32, 59, 35, 106, 108, 112, 111, 66, 40, 63, 99, 142, 128, 38, 36, 138, 94, 117, 147, 32, 102, 125, 49, 78, 30, 121, 64, 38, 92, 115, 63, 64, 110, 76, 37, 142, 42, 46, 47, 50, 42, 19, 46, 125, 16, 47, 93, 141, 9, 81, 61, 145, 18, 92, 6, 145, 76, 112, 138, 5, 82, 52, 40, 3, 22, 11, 89, 110, 127, 16, 12, 63, 45, 128, 57, 10, 146, 99, 28, 95, 12, 123, 43, 3, 19, 85, 101, 60, 108, 50, 49, 80, 93, 36, 145, 40, 113, 83, 19, 29, 66, 12, 76, 88, 62, 48, 150, 104, 68, 33, 25, 60, 37, 12, 116, 111, 136, 95, 52, 88, 52, 74, 36, 28, 81, 139, 65, 101, 61, 99, 5, 55, 122, 40, 35, 29, 69, 68, 76, 103, 24, 84, 75, 46, 130, 38, 22, 49, 150, 57, 42, 59, 149, 31, 115, 9, 148, 24, 113, 41, 89, 19, 145, 13, 91, 65, 106, 138, 91, 97, 44, 53, 15, 81, 25, 118, 105, 52, 114, 75, 129, 146, 11, 131, 33, 20, 123, 45, 49, 79, 83, 71, 27, 13, 57, 24, 59, 2, 53, 128, 82, 47, 65, 75, 17, 129, 50, 133, 7, 51, 24, 74, 5, 32, 126, 48, 73, 60, 61, 29, 61, 35, 73, 45, 37, 58, 140, 42, 35, 8, 21, 68, 139, 77, 113, 109, 46, 97, 111, 33, 150, 132, 95, 67, 129, 3, 64, 85, 86, 82, 38, 85, 136, 32, 126, 22, 15, 55, 115, 66, 133, 136, 23, 36, 77, 76, 120, 120, 7, 138, 148, 75, 137, 36, 47, 32, 118, 88, 9, 109, 31, 4, 62, 42, 55, 3, 141, 82, 15, 79, 38, 70, 63, 6, 96, 42, 39, 18, 90, 43, 124, 132, 149, 91, 95, 122, 27, 13, 60, 6, 8, 46, 68, 129, 113, 129, 50, 42, 92, 43, 147, 47, 21, 133, 91, 86, 140, 132, 21, 131, 52, 6, 28, 70, 130, 93, 13, 50, 34, 59, 133, 52, 127, 33, 91, 149, 56, 3, 144, 115, 78, 132, 1, 50, 8, 61, 83, 77, 40, 85, 89, 131, 25, 103, 17, 26, 126, 130, 106, 22, 75, 127, 7, 37, 129, 123, 139, 30, 26, 27, 5, 117, 23, 109, 45, 31, 43, 128, 140, 15, 9, 29, 86, 70, 91, 65, 59, 85, 108, 112, 25, 27, 68, 100, 82, 33, 29, 15]
[122, 125, 116, 39, 146, 134, 22, 13, 13, 35, 27, 103, 52, 148, 28, 43, 72, 97, 115, 100, 81, 106, 106, 118, 16, 108, 82, 37, 10, 100, 20, 7, 124, 141, 61, 45, 71, 3, 31, 71, 150, 11, 121, 76, 120, 31, 99, 29, 61, 56, 63, 64, 99, 3, 72, 6, 137, 135, 144, 107, 12, 122, 136, 67, 45, 25, 91, 146, 38, 109, 122, 36, 111, 125, 24, 12, 96, 150, 62, 28, 2, 140, 53, 55, 146, 134, 131, 24, 101, 27, 147, 133, 27, 39, 20, 58, 25, 146, 144, 132, 96, 64, 20, 46, 31, 51, 32, 144, 43, 78, 31, 4, 29, 100, 53, 101, 123, 65, 3, 18, 140, 138, 30, 18, 145, 128, 135, 22, 106, 97, 125, 65, 101, 86, 48, 144, 18, 113, 148, 70, 35, 51, 2, 114, 28, 105, 92, 78, 85, 134, 148, 33, 81, 46, 150, 94, 92, 112, 77, 59, 9, 145, 127, 31, 142, 6, 25, 116, 20, 83, 92, 150, 126, 128, 86, 131, 42, 97, 133, 86, 75, 19, 75, 10, 111, 21, 47, 66, 49, 144, 109, 134, 62, 63, 99, 37, 82, 30, 150, 146, 21, 10, 124, 11, 108, 25, 1, 24, 65, 11, 78, 76, 36, 100, 29, 33, 146, 87, 67, 1, 81, 148, 144, 138, 115, 126, 134, 72, 29, 36, 9, 105, 64, 18, 82, 37, 28, 147, 64, 3, 135, 37, 112, 1, 8, 147, 8, 65, 138, 20, 135, 79, 43, 1, 110, 95, 36, 78, 50, 9, 18, 19, 1, 17, 132, 11, 4, 115, 115, 121, 145, 90, 118, 92, 135, 42, 73, 13, 83, 53, 80, 107, 99, 136, 70, 103, 58, 1, 5, 104, 28, 85, 110, 102, 133, 56, 28, 2, 140, 2, 132, 54, 106, 18, 21, 103, 149, 101, 57, 37, 128, 120, 29, 40, 68, 110, 102, 84, 75, 105, 123, 75, 27, 84, 147, 125, 141, 109, 7, 113, 146, 66, 65, 123, 95, 112, 97, 90, 54, 149, 17, 80, 43, 114, 128, 111, 129, 53, 56, 57, 24, 75, 60, 68, 105, 17, 62, 96, 49, 7, 129, 42, 36, 33, 150, 70, 12, 126, 29, 26, 131, 57, 29, 88, 128, 99, 115, 17, 74, 56, 123, 96, 128, 51, 1, 138, 128, 78, 47, 94, 92, 74, 84, 68, 104, 27, 57, 69, 136, 14, 139, 22, 134, 42, 88, 121, 94, 36, 114, 37, 61, 147, 103, 22, 103, 127, 9, 43, 101, 102, 136, 60, 35, 67, 39, 21, 24, 144, 147, 18, 112, 123, 94, 77, 33, 31, 54, 65, 140, 79, 59, 91, 106, 75, 57, 38, 1, 122, 82, 72, 15, 65, 125, 50, 143, 121, 41, 114, 6, 10, 103, 31, 61, 27, 137, 3, 82, 82, 115, 12, 89, 25, 84, 53, 118, 10, 145, 121, 128, 148, 129, 30, 28, 149, 92, 91, 2, 62, 135, 69, 65, 35, 118, 118, 73, 146, 85, 21, 122, 61, 81, 105, 116, 9, 112, 110, 113, 50, 83, 76, 33, 52, 150, 63, 25, 97, 10, 113, 67, 43, 144, 138, 2, 57, 90, 111, 148, 37, 93, 73, 144, 81, 12, 144, 129, 54, 105, 87, 13, 137, 63, 108, 11, 27, 97, 22, 129, 87, 57, 87, 61, 16, 35, 55, 59, 79, 101, 128, 87, 92, 81, 112, 97, 106, 127, 99, 53, 128, 23, 121, 99, 29, 15, 136, 132, 71, 41, 42, 127, 122, 12, 142, 66, 30, 110, 130, 100, 34, 97, 138, 30, 49, 146, 4, 2, 6, 142, 132, 51, 15, 144, 108, 128, 80, 30, 9, 46, 45, 24, 17, 20, 1, 144, 6, 76, 74, 96, 62, 36, 50, 1, 13, 147, 11, 144, 142, 90, 87, 23, 5, 97, 63, 105, 135, 58, 9, 82, 145, 28, 111, 38, 131, 30, 51, 54, 71, 73, 30, 63, 145, 22, 133, 40, 75, 34, 7, 119, 110, 57, 116, 132, 122, 2, 13, 104, 86, 83, 92, 9, 141, 25, 112, 139, 141, 62, 81, 37, 9, 63, 61, 107, 7, 41, 39, 83, 97, 52, 13, 125, 32, 34, 106, 123, 5, 85, 140, 107, 32, 126, 14, 96, 31, 29, 94, 64, 109, 11, 138, 121, 56, 22, 18, 26, 101, 121, 115, 121, 40, 28, 23, 71, 12, 71, 3, 97, 129, 44, 114, 78, 113, 130, 52, 38, 80, 1, 26, 62, 53, 61, 100, 138, 81, 4, 99, 75, 106, 9, 78, 91, 21]
[33, 4, 21, 122, 84, 32, 34, 4, 17, 111, 55, 40, 119, 94, 37, 7, 129, 100, 142, 108, 125, 59, 44, 119, 148, 66, 136, 12, 94, 142, 40, 118, 15, 52, 57, 74, 48, 23, 9, 143, 34, 25, 129, 81, 110, 80, 51, 126, 55, 76, 16, 88, 43, 27, 149, 24, 60, 98, 39, 94, 133, 142, 50, 34, 49, 106, 126, 128, 85, 141, 46, 108, 121, 116, 10, 146, 62, 24, 17, 28, 33, 109, 85, 141, 70, 38, 84, 17, 35, 145, 97, 108, 55, 138, 76, 21, 56, 93, 47, 1, 54, 3, 39, 140, 50, 16, 80, 41, 139, 33, 123, 130, 20, 89, 46, 21, 123, 104, 100, 146, 41, 108, 100, 66, 27, 112, 22, 36, 32, 106, 146, 116, 136, 130, 67, 19, 112, 127, 55, 123, 130, 90, 94, 49, 5, 123, 17, 64, 51, 101, 6, 35, 111, 147, 48, 139, 110, 116, 17, 103, 133, 35, 66, 113, 94, 85, 93, 142, 142, 27, 36, 2, 17, 118, 17, 121, 146, 3, 119, 7, 125, 136, 112, 30, 31, 51, 130, 85, 123, 100, 49, 25, 51, 30, 90, 54, 35, 99, 20, 127, 89, 116, 12, 131, 100, 63, 141, 137, 46, 107, 5, 96, 53, 32, 122, 47, 15, 51, 52, 107, 96, 48, 5, 125, 19, 1, 14, 12, 58, 18, 12, 123, 1, 48, 4, 94, 98, 70, 67, 97, 97, 104, 101, 4, 91, 124, 66, 122, 55, 143, 110, 128, 137, 105, 87, 101, 57, 111, 119, 58, 104, 103, 14, 20, 53, 66, 3, 39, 8, 145, 17, 123, 112, 142, 24, 149, 116, 118, 29, 16, 26, 17, 27, 143, 12, 6, 59, 131, 127, 120, 72, 110, 118, 90, 148, 51, 35, 141, 4, 141, 140, 64, 4, 109, 78, 146, 106, 147, 127, 56, 89, 81, 50, 115, 2, 122, 53, 65, 148, 95, 145, 30, 36, 129, 49, 63, 52, 148, 23, 62, 12, 128, 12, 30, 74, 134, 64, 119, 134, 23, 51, 11, 123, 110, 128, 119, 22, 8, 112, 133, 108, 97, 133, 60, 18, 7, 40, 64, 46, 41, 58, 121, 104, 105, 86, 11, 31, 74, 21, 86, 102, 119, 36, 24, 69, 2, 122, 98, 129, 3, 33, 55, 106, 31, 49, 8, 16, 89, 106, 83, 60, 30, 18, 49, 13, 16, 91, 17, 24, 29, 65, 133, 5, 12, 83, 126, 6, 80, 124, 42, 118, 141, 100, 15, 130, 117, 105, 79, 143, 32, 61, 67, 69, 134, 146, 134, 77, 108, 58, 77, 56, 43, 72, 25, 99, 128, 100, 9, 85, 150, 101, 26, 3, 113, 122, 21, 49, 78, 6, 101, 58, 126, 91, 134, 72, 51, 77, 142, 129, 12, 60, 120, 104, 150, 63, 65, 52, 116, 18, 43, 5, 128, 101, 126, 26, 28, 78, 62, 107, 61, 40, 23, 115, 83, 69, 94, 141, 11, 71, 32, 100, 125, 145, 108, 29, 147, 130, 109, 100, 15, 137, 105, 91, 61, 83, 107, 8, 47, 19, 13, 38, 131, 95, 9, 46, 123, 84, 93, 98, 122, 117, 9, 51, 15, 45, 109, 99, 6, 26, 7, 74, 122, 21, 46, 82, 18, 12, 89, 4, 70, 64, 70, 67, 148, 27, 89, 85, 67, 32, 51, 84, 50, 136, 107, 87, 3, 63, 19, 85, 97, 76, 69, 105, 132, 71, 93, 65, 60, 67, 83, 74, 57, 90, 79, 56, 145, 65, 98, 121, 72, 110, 51, 21, 125, 109, 27, 32, 110, 94, 49, 60, 8, 79, 98, 86, 81, 70, 142, 43, 149, 7, 126, 68, 87, 24, 64, 138, 10, 34, 117, 92, 102, 112, 30, 7, 121, 82, 50, 67, 111, 22, 7, 75, 30, 116, 13, 95, 77, 86, 32, 72, 104, 88, 16, 140, 38, 47, 111, 33, 42, 7, 41, 83, 24, 56, 56, 111, 36, 42, 133, 26, 48, 144, 132, 131, 67, 122, 109, 131, 19, 44, 24, 66, 145, 20, 109, 1, 1, 48, 92, 34, 89, 32, 84, 29, 60, 58, 127, 81, 6, 89, 75, 116, 54, 29, 105, 66, 93, 60, 27, 6, 3, 68, 36, 70, 111, 121, 65, 66, 89, 6, 89, 34, 91, 132, 134, 48, 149, 141, 86, 53, 50, 19, 76, 23, 89, 109, 137, 11, 132, 112, 63, 36, 13, 129, 46, 62, 47, 44, 19, 129, 43, 147, 121, 93, 114, 100, 126, 8, 10, 68, 110, 104, 145, 9, 4, 3, 136, 111, 105, 91, 43, 22, 2, 22, 95, 93, 28, 81, 82, 83, 47, 73, 15, 37, 56, 77, 2, 94, 82, 43, 59, 4, 5, 133, 27, 29, 116, 75, 27, 138, 137, 113, 70, 21, 60, 61, 107, 135, 133, 94, 149, 111, 27, 145, 89, 59, 133, 82, 63, 146, 94, 111, 11, 122, 132, 88, 121, 106, 26, 144, 16, 143, 57, 92, 54, 26, 142, 142, 132, 140, 50, 64, 93, 140, 129, 53, 59, 26, 135, 20, 92, 141, 124, 75, 36, 42, 52, 8, 148, 94, 21, 115, 127, 61, 132, 89, 72, 18, 21, 28, 78, 15, 9, 94, 57, 9, 85, 82, 99, 5, 81, 34, 30, 6, 94, 23, 35, 102, 103, 69, 50, 117, 130, 100, 43, 107, 146, 99, 110, 38, 88, 13, 133, 35, 7, 51, 3, 95, 71, 34, 63, 61, 21, 63, 100, 56, 39, 106, 76, 136, 68, 3, 28, 58, 58, 63, 37, 91, 75, 29, 21, 65, 124, 43, 57, 123, 94, 65, 40, 6, 128, 26, 110, 53, 38, 62, 119, 69, 146, 109, 36, 12, 63, 111, 136, 34, 68, 59, 113, 85, 113, 145, 120, 14, 19, 94, 122, 107, 41, 11, 61, 118, 52, 57, 24, 91, 143, 13, 61, 134, 20, 96, 134, 140, 59, 31, 23, 117, 143, 13, 96, 56, 106, 5, 26, 145, 129, 56, 78, 108, 40, 79, 106, 55, 40, 85, 95, 149, 121, 110, 129, 114, 24, 78, 146, 10, 32, 129, 135]

As demonstrated in the output of the previous test, we observe that both algorithms correctly predicted the result of the game. Although both have a time complexity of $O(n^2)$, the improved version provided by ChatGPT demonstrates better performance, as claimed. This confirms the quality and validity of the answer.

In [32]:
%pip install  pandas

Requirement already satisfied: pandas in ./.conda_ADM_HW4/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in ./.conda_ADM_HW4/lib/python3.10/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.conda_ADM_HW4/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.conda_ADM_HW4/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.conda_ADM_HW4/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in ./.conda_ADM_HW4/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [43]:
import pandas as pd

Reading the datasets

In [44]:
genome_scores_df=pd.read_csv('./data/genome_scores.csv')
genome_tags_df=pd.read_csv('./data/genome_tags.csv')
link_df=pd.read_csv('./data/link.csv')
movie_df=pd.read_csv('./data/movie.csv')
rating_df=pd.read_csv('./data/rating.csv')
tag_df=pd.read_csv('./data/tag.csv')

Exploring the datasets by displaying their heads, the number of NaN values in each column, the number of distinct values in each column and the number of records in each column.

In [50]:
print("Dataset Genome Score")
display(genome_scores_df.head())
print("Genome Score number of NaN")
display(genome_scores_df.isna().sum())
print("Genome Score number of distinct values")
display(genome_scores_df.nunique())
print("Genome Score number of rows")
print(genome_scores_df.count())

print("Dataset Genome Tags")
display(genome_tags_df)
print("Genome Tags number of NaN")
display(genome_tags_df.isna().sum())
print("Genome Tags number of distinct values")
display(genome_tags_df.nunique())
print("Genome Tags number of rows")
print(genome_tags_df.count())

print("Dataset Link")
display(link_df.head())
print("Link number of NaN")
display(link_df.isna().sum())
print("Link number of distinct values")
display(link_df.nunique())
print("Link number of rows")
print(link_df.count())

print("Dataset Movie")
display(movie_df.head())
print("Movie number of NaN")
display(movie_df.isna().sum())
print("Movie number of distinct values")
display(movie_df.nunique())
print("Movie number of rows")
print(movie_df.count())

print("Dataset Rating")
display(rating_df.head())
print("Rating number of NaN")
display(rating_df.isna().sum())
print("Rating number of distinct values")
display(rating_df.nunique())
print("Rating number of rows")
print(rating_df.count())

print("Dataset Tag")
display(tag_df.head())
print("Tag number of NaN")
display(tag_df.isna().sum())
print("Tag number of distinct values")
display(tag_df.nunique())
print("Tag number of rows")
print(tag_df.count())

Dataset Genome Score

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

Genome Score number of NaN

movieId      0
tagId        0
relevance    0
dtype: int64

Genome Score number of distinct values

movieId      10381
tagId         1128
relevance     4000
dtype: int64

Genome Score number of rows
movieId      11709768
tagId        11709768
relevance    11709768
dtype: int64
Dataset Genome Tags

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

Genome Tags number of NaN

tagId    0
tag      0
dtype: int64

Genome Tags number of distinct values

tagId    1128
tag      1128
dtype: int64

Genome Tags number of rows
tagId    1128
tag      1128
dtype: int64
Dataset Link

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

Link number of NaN

movieId      0
imdbId       0
tmdbId     252
dtype: int64

Link number of distinct values

movieId    27278
imdbId     27278
tmdbId     27008
dtype: int64

Link number of rows
movieId    27278
imdbId     27278
tmdbId     27026
dtype: int64
Dataset Movie

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Movie number of NaN

movieId    0
title      0
genres     0
dtype: int64

Movie number of distinct values

movieId    27278
title      27262
genres      1342
dtype: int64

Movie number of rows
movieId    27278
title      27278
genres     27278
dtype: int64
Dataset Rating

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

Rating number of NaN

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

Rating number of distinct values

userId         138493
movieId         26744
rating             10
timestamp    15351121
dtype: int64

Rating number of rows
userId       20000263
movieId      20000263
rating       20000263
timestamp    20000263
dtype: int64
Dataset Tag

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

Tag number of NaN

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

Tag number of distinct values

userId         7801
movieId       19545
tag           38643
timestamp    425373
dtype: int64

Tag number of rows
userId       465564
movieId      465564
tag          465548
timestamp    465564
dtype: int64

From the previous analysis, we can observe several useful insights about these datasets:

- We have determined the dimensions of each dataset.
- There are almost no NaN values across all datasets, except for a few cases in the Link and Tag datasets. However, given their nature, these missing values can be explained by data not being entered during input. Importantly, they do not compromise the validity of the records. In conclusion, all records are valid.
- We know the number of rows in each dataset.
- The datasets include 1,128 distinct tags, 27,278 registered movies, and 138,493 users who have rated at least one movie.
- Most of the data is categorical, except for the relevance values and rating scores, which are numerical.

We then merge the Movie, Rating, and Link datasets into a single unified dataset. Similarly, we combine the Genome Score and Genome Tag datasets, as they are related by specific keys. This "join" operation consolidates multiple datasets without introducing any additional records. Herein, the final datasets that we will use in this homework are <strong>user_rating</strong>, <strong>tag_relevance</strong>, and <strong>tag</strong>.

In [52]:
user_rating_df = pd.merge(movie_df, rating_df, on='movieId', how='inner')
user_rating_df = pd.merge(user_rating_df, link_df, on='movieId', how='inner') 
tag_relevance_df = pd.merge(genome_scores_df, genome_tags_df, on='tagId', how='left') 

display(user_rating_df)
display(tag_relevance_df)
display(tag_df)

,movieId,title,genres,userId,rating,timestamp,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1999-12-11 13:36:47,114709,862.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,1997-03-13 17:50:52,114709,862.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1996-06-05 13:37:51,114709,862.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,1999-11-25 02:44:47,114709,862.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,2009-01-02 01:13:41,114709,862.0
...,...,...,...,...,...,...,...,...
20000258,131254,Kein Bund für's Leben (2007),Comedy,79570,4.0,2015-03-30 19:32:59,466713,4436.0
20000259,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,79570,4.0,2015-03-30 19:48:08,277703,9274.0
20000260,131258,The Pirates (2014),Adventure,28906,2.5,2015-03-30 19:56:32,3485166,285213.0
20000261,131260,Rentun Ruusu (2001),(no genres listed),65409,3.0,2015-03-30 19:57:46,249110,32099.0
20000262,131262,Innocence (2014),Adventure|Fantasy|Horror,133047,4.0,2015-03-30 20:39:26,1724965,286971.0

          movieId  tagId  relevance           tag
0               1      1    0.02500           007
1               1      2    0.02500  007 (series)
2               1      3    0.05775  18th century
3               1      4    0.09675         1920s
4               1      5    0.14675         1930s
...           ...    ...        ...           ...
11709763   131170   1124    0.58775       writing
11709764   131170   1125    0.01075         wuxia
11709765   131170   1126    0.01575          wwii
11709766   131170   1127    0.11450        zombie
11709767   131170   1128    0.02175       zombies

[11709768 rows x 4 columns]

        userId  movieId            tag            timestamp
0           18     4141    Mark Waters  2009-04-24 18:19:40
1           65      208      dark hero  2013-05-10 01:41:18
2           65      353      dark hero  2013-05-10 01:41:19
3           65      521  noir thriller  2013-05-10 01:39:43
4           65      592      dark hero  2013-05-10 01:41:18
...        ...      ...            ...                  ...
465559  138446    55999        dragged  2013-01-23 23:29:32
465560  138446    55999  Jason Bateman  2013-01-23 23:29:38
465561  138446    55999         quirky  2013-01-23 23:29:38
465562  138446    55999            sad  2013-01-23 23:29:32
465563  138472      923  rise to power  2007-11-02 21:12:47

[465564 rows x 4 columns]